.nav {
	@include flex-row(nowrap, flex-start, center);
	z-index: 2;
	a {
		margin: 0 2.1rem 0 0;
		padding: 1.2rem 0;

		font-weight: 300;
		font-size: 1.3rem;

		text-decoration: none;

		cursor: pointer;
		transition: $tr;
		
		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $color_main-r;
		}
		&.active {
			font-weight: 600;
		}

	}
}