.page-footer {
	flex: none;
	background-color: #1c44a4;
	background-image: url(/img/bg/bg-footer.jpg);
	@include bg-cover;
	padding: 6rem 0;
	width: 100%;

	.container {
		@include flex-row(nowrap, space-between, stretch);
	}


}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 568px) {

}